<template>
  <div>
    <router-link to="/">home</router-link>
    <router-link to="/teachersroom">teste</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
